@import url(https://fonts.googleapis.com/css?family=Krub);
@import url(https://fonts.googleapis.com/css?family=Marvel);
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
}

a {
    text-decoration: none;
}


#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


/*LEFT CONTENT */
.leftContent {
    justify-content: center;
    background-color: #242424;
    padding-top: 5%;
    width: 13%;
    box-shadow: 4px 4px 5px #888888;
    min-width: 150px;
    max-width: 200px;
}

.sidenav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
}

.sidenav a {
    padding: 2px 8px;
    color: #818181;
    display: block;
    font-family: 'Roboto Condensed';
    font-size: 20px;
}

.sidenav-container a {
    transition: 0.2s; /* transition on hover */
    padding: 2px 8px;
}

.sidenav-container :hover {
    color: #f1f1f1;
    background-color: #4D4D4D;
    z-index: 100;
    top: -4px;
    margin-bottom: -3px;
    padding: 6px 6px;
    box-shadow: 0 4px 5px -7px #000000, 5px 5px 10px 5px rgba(0, 0, 0, 0);
}


/* MAIN CONTENT */
.mainContent {
    display: block;
    background-color: lightgray;
    width: 80vw;
    height: fit-content;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
}

.main-content-container {
    height: 80vh;
}

.clock-container {
    display: flex;
    justify-content: center;
}

.header {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    margin-bottom: 30px;
}

/* collapsible button */
.collapsible {
    background-color: #242424;
    color: #818181;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #888888;
}

/* RIGHT CONTENT */
.rightContent {
    display: flex;
    flex-direction: column;
    min-width: 140px;
    max-width: 400px;
}

.col {
    font-family: 'Open Sans Condensed', serif;
    padding-bottom: 2px;
    background-color:  #f1f1f1;
}

.col:hover {
    background-color: lightgray;
    transition: 0.2s;
}

/* Style the counter cards */
.card {
    padding: 20px 5% 6px 20px;
    text-align: justify;
    background-color: transparent;
    box-shadow: 4px 4px 5px #888888;
}

.card-title {
    font-size: 22px;
}

.card-content {
    font-size: 16px;
}

/* collapsible button for news cards */
.card-collapsible-button {
    cursor: pointer;
    padding: 5px;
    width: 25px;
    outline: none;
    font-size: 15px;
    transition: .8s;
/* TODO should be aligned with text - should not be done like this */
}

.card-collapsible-content {
    text-align: justify;
    padding: inherit;
    max-height: 0;
    overflow: hidden;
    transition: 4s;
    transition-timing-function: cubic-bezier(0.07, 1.06, 0.58, 1);
}

.card-collapsible-content:hover {
    background-color: transparent;
}

.arrow-img {
    width: 15px;
}

.card-collapsible {
    display: inline-block;
    text-align: right;
}
