@import url(https://fonts.googleapis.com/css?family=Krub);

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    font-family: 'Slabo 27px', serif;
}

a {
    text-decoration: none;
}

/* TODO zmniejszyc prawy content - prawa kolumne, bardziej podluzna niz szeroka */
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


 /*LEFT CONTENT */

 .leftContent {
    justify-content: center;
    background-color: #242424;
     padding-top: 5%;
     width: 13%;
     box-shadow: 4px 4px 5px #888888;
}

.sidenav {
    background-color: #242424;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #4D4D4D;
}


/* MAIN CONTENT */
.mainContent {
    display: block;
    background-color: lightgray;
    width: 80vw;
    height: 100vh;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
}

.main-content-container {
    height: 80vh;
}
.clock-container {
    display: flex;
    justify-content: center;
}

.inner-wrapper {
    display: inline-block;
    margin-top: 20px;
}

.header {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    margin-bottom: 30px;
}

.row {
    height: 20vh;
    background-color: #f1f1f1;
}

.col {
    padding-bottom: 2px;
}

.card:hover {
    background-color: #D1D0D0;
}

/* Style the counter cards */
.card {
    padding: 20px;
    text-align: justify;
    background-color: #f1f1f1;
    box-shadow: 4px 4px 5px #888888;
}

.card-content {
    padding: 4px;
    font-family: 'Krub';
}

.rightContent {
    display: flex;
    flex-direction: column;
    padding-inline: 2px;
}

