* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: darkgray;
    font-family: 'Slabo 27px', serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #242424;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.wrapper {
    display: inline-block;
    background-color: lightgray;
    width: 80vw;
    height: 100vh;
}
.inner-wrapper {
    display: inline-block;
    margin-top: 20px;
}

.header {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
}

a {
    text-decoration: none;
}