@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Exo');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: lightgrey;
}

.container {
    display: grid;
    background-color: lightgrey;
    padding: 12vh 0 0 0;
}


.header {
    grid-row-start: 1;
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: deepskyblue;
    padding: 1.5vh 0;
    margin: 2vh 0 0 0;
    font-size: 3vh;
    box-shadow: 0 4px 5px -7px #000000, 5px 5px 10px 5px rgba(0, 0, 0, 0);
    /*grid-template-columns: 15% 90%;*/
    /*min-width: 10vw;*/
}

.header-content-table {
    margin: 0 4vw;
}

.header-content-holder {
    margin: 1vw;
}

.table-entry {
}

.header-date-holder {
    /*right: 95%;*/
}

.header-table-entry-link {
    font-family: 'Exo';
    letter-spacing: 0.1em;
    color: white;
    font-size: 2vh;
    min-font-size: 0.5vh;
    vertical-align: text-bottom;
}

.table-divider {
    padding: 0 2vw;
    font-size: 2vh;
    min-font-size: 2vh;
    color: powderblue;
    cursor: context-menu;
    text-emphasis: #242424;
}

.header-button {
    cursor: pointer;
    border: none;
    background: transparent;
}

.header-button :hover {
    color: gold;
    transition: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.main-content {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 0;
    background-color: #4D4D4D;
    color: white;
}

.top-container {
    font-size: 5vh;
    margin: 0 10vw 0 4vh;
    padding: 1vw;
}

.counter-container {
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.counter {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    color: #818181;
    min-width: 40vw;
    min-height: 50vh;
    /*margin: auto;*/
    /*padding: 20px 0;*/
}

.shelve {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;
    width: 40%;
    height: 30vh;
    min-width: 10vw;
    min-height: 14vw;
    flex-wrap: nowrap;
    border-style: solid;
    /*border-color: #242424;*/
    border-color: #888888;
    padding: 2vh 2vw 0 1vw;
    background-color: #888888;
    overflow: auto;
    transition: 0.4s;
}

.shelve-title {
    margin: 1vh 1vw;
}

.title {
    text-align: center;
    color: white;
}

.shelve-content {
    text-align: justify;
    color: white;
    font-size: 1vw;
    min-font-size: 1.2vw;
    margin: 1vw 0;
}

.shelve-img {

}

.shelve-content-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #D1D0D0;
    /*overflow: auto;*/
    min-width: 3vw;
    min-height: 5vh;
    /*min-height: 1vw;*/
    background-color: #818181;
    /*margin: auto;*/
    padding: 0 1vw 0 1vw;
}

.content-filter-button {
    display: grid;
    align-items: center;
    padding: 0 1.5vw;
    font-size: 1.3vw;
    min-font-size: 1vw;
    background-color: #818181;
    border-style: none;
    height: 100%;
    width: 100%;
}

.content-filter-button :hover {
    cursor: pointer;
}

.content-containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    padding: 0 4vw 5vh 10vw;
    font-size: 1vw;
    min-font-size: 1vw;
}

.shelve::-webkit-scrollbar {
    /*width: 1vw;*/
    color: black;
    background: #888888;
}

.shelve::-webkit-scrollbar-track {
    /*color: #242424;*/
}

.shelve::-webkit-scrollbar-thumb {
    background: #818181;
}

.footer {
    grid-row-start: 3;
    padding: 0 15vw;
    margin: 0;
    background-color: #242424;
    color: #818181;
    box-shadow: 0 11px 12px -7px #000000, 15px 15px 10px 5px rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 750px) {
    .header {
        grid-row-start: 1;
        display: flex;
        flex-wrap: nowrap;
        position: sticky;
        z-index: 1;
        top: 0;
        background-color: deepskyblue;
        padding: 1.5vh 0;
        margin: 2vh 0 0 0;
        font-size: 3vh;
        box-shadow: 0 4px 5px -7px #000000, 5px 5px 10px 5px rgba(0, 0, 0, 0);
        justify-content: space-around;
    }

    .shelve {
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: stretch;
        margin: auto;
        width: 100%;
        height: 30vh;
        min-width: 10vw;
        min-height: 15vw;
        flex-wrap: nowrap;
        border-style: solid;
        /*border-color: #242424;*/
        border-color: #888888;
        padding: 2vh 1vw 2vh 1vw;
        background-color: #888888;
        overflow: hidden;
        /*flex-basis: auto;*/
    }

    .content-filter-button {
        display: grid;
        align-items: center;
        padding: 0 2vw;
        font-size: 3vw;
        margin: auto;
    }

    .shelve-content {
        text-align: justify;
        color: white;
        /*padding: 0 1vh;*/
        font-size: 3vw;
        min-font-size: 2vw;
        /*margin: auto;*/
    }

    .shelve::-webkit-scrollbar {
        /*width: 1vw;*/
        color: black;
        background: #888888;
    }

    .shelve::-webkit-scrollbar-track {
        /*color: #242424;*/
    }

    .shelve::-webkit-scrollbar-thumb {
        background: #818181;
    }
}