a {
    text-decoration: none;
}

.container {
    display: grid;
}


.header {
    grid-row-start: 1;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: lightskyblue;
    padding: 20px 0;
    font-size: 15px;
}

.header-content-table {
    margin: 0 155px;
}

.header-left-holder {
}

.table-entry {
}

.table-entry-link {
    color: white;
    font-size: 20px;
}

.table-entry :hover {
    color: gold;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.table-divider {
    padding: 0 8px;
    color: powderblue;
    cursor: context-menu;
}


#main-content {
    grid-row-start: 2;
    padding: 30px 155px;
    /*margin: 0 155px;*/
    background-color: #4D4D4D;
}

.shelve {

}

.shelve-title {

}

.shelve-img {

}

.shelve-content-filters {

}

.content-filter-entry {

}


#bottom-content {
    grid-row-start: 3;
    margin: 0 155px;
}

.header-date-holder {
    right: 90%;
}