.clock {
    margin-top: 30px;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    border: solid 10px black;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-3px);
}

.hand {
    position: absolute;
    user-select:none;
    top: 48.5%;
    height: 10px;
    border-radius: 20px;
    transition: all .05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transform-origin: 100%;
    transform: rotate(90deg);
}

.seconds-hand {
    background-color: rgb(12, 92, 212); 
    width: 150px;
    height: 10px;
}

.minutes-hand {
    background-color: rgb(115, 12, 212); 
    width: 120px;
    height: 10px;
    left: 30px;
}

.hours-hand {
    background-color: rgb(212, 12, 152); 
    width: 100px;
    height: 10px;
    left: 50px;
}